{% extends 'base.html' %}

{% block title %} Admin Page {% endblock %}

{% block body %}
<div class="container py-5">
  <!-- Dashboard Heading -->
  <h2 class="text-center mb-5 fw-bold" style="letter-spacing: 1px;">Admin Dashboard</h2>

  <!-- Row of 7 image boxes -->
  <div class="admin-row">
    <a href="/customers" class="admin-box">
      <img src="https://urbanthreads.blob.core.windows.net/admin-page/Customers.png" alt="">
    </a>

    <a href="/shop-items" class="admin-box">
      <img src="https://urbanthreads.blob.core.windows.net/admin-page/Shop%20Items.png" alt="">
    </a>

    <a href="/add-shop-items" class="admin-box">
      <img src="https://urbanthreads.blob.core.windows.net/admin-page/Add%20Shop%20Items.png" alt="">
    </a>

    <a href="/view-orders" class="admin-box">
      <img src="https://urbanthreads.blob.core.windows.net/admin-page/View%20Orders.png" alt="">
    </a>

    <a href="/history" class="admin-box">
      <img src="https://urbanthreads.blob.core.windows.net/admin-page/History.png" alt="">
    </a>

    <a href="/predicted_inventory" class="admin-box">
      <img src="https://urbanthreads.blob.core.windows.net/admin-page/Stock%20Predictions.png" alt="">
    </a>

    <a href="/sales-data-analysis" class="admin-box">
  <img src="https://urbanthreads.blob.core.windows.net/admin-page/Sales%20Data%20Analysis.png" alt="Sales Data Analysis">
    </a>
  </div>
</div>
{% endblock %}
