{% extends "base.html" %}

{% block title %} Predicted Inventory {% endblock %}

{% block body %}
<h2>Predicted Inventory Table</h2>

<table class="table table-dark table-hover table-bordered">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Predicted Sales (October)</th>
            <th>Current Stock Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.predicted_sales }}</td>
            <td>{{ item.current_stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
